VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_CONTACT_TEMPLATE_ID=your_contact_template_id
VITE_EMAILJS_FRANCHISE_TEMPLATE_ID=your_franchise_template_id
VITE_FOUNDER_WHATSAPP=917397045556
VITE_GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbxsD-1T9cgmv-YwloK8k3spwPyaQMzYbpnT80pu1pL1RacwoBe_Ha9hYvVJqnJNYgFl/exec
